<app-main-search (onSearch)="search= {value: $event}">
  <div class="action-link" (click)="createPublisher()">
    <i-feather class="i-feather" name="plus"></i-feather>
    Neuer Verkündiger
  </div>
</app-main-search>
<div class="scrollable-wrapper">
  <ng-container *ngIf="(publishersByLetters$ | async) as publishersByLetters; else infoBlock">
    <ng-container *ngFor="let publishersByLetter of publishersByLetters | searchPublisher:search | async">
      <h2 class="h2-white">{{publishersByLetter[0].name.toUpperCase() | slice:0:1}}</h2>
      <app-list>
        <app-list-item *ngFor="let publisher of publishersByLetter"
                       [class.current]="currentPublisherId === publisher.id"
                       (click)="editPublisher(publisher)">
          <p class="label">{{publisher.name}} {{publisher.firstName}}</p>
        </app-list-item>
      </app-list>
    </ng-container>
  </ng-container>

  <ng-template #infoBlock>
    <app-info-block [title]="'Du hast noch keine Verkündiger!'"
                    [image]="'assets/images/publishers.svg'"
                    [description]="'Erstelle oder importiere Verkündiger, um diesen Gebiete zuteilen zu können.'"></app-info-block>
  </ng-template>
</div>
