@import "libs/ui-components/src/lib/assets/styles/colors";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0 0 0;
    z-index: 11;
    font-family: Heebo-Medium, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;

    .done {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: 0.4px;
      text-align: center;
      color: #ffffff;
      padding: 0.25rem 0.75rem;
      border-radius: 1rem;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      background-color: rgba(173, 177, 184, 0.24);
    }
  }

  .input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;

    .input-wrapper-item {
      margin: 2rem 0 0 0;

      .header-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        i-feather {
          margin: 0 auto 0.5rem auto;
          display: block;
          width: 18px;
          height: 18px;
          color: #adb1b8;
        }
      }

      app-panel {
        padding: 0;
        width: 5rem;

        ::ng-deep .wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          i-feather {
            width: 24px;
            height: 24px;
            color: #adb1b8;
          }

          .value {
            margin: .5rem 0;
            font-family: Heebo-Medium, sans-serif;
            font-size: 22px;
            font-weight: 500;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.27;
            letter-spacing: 0.21px;
            text-align: center;
            color: #ffffff;
          }

        }
      }
    }
  }
}
