@import "./../data-uri.images";
@import "/libs/ui-components/src/lib/assets/styles/colors";

$appMenuWidth: 5rem;
$appMenuItemMargin: 1rem;
$appMenuItemColor: $charcoal-grey;
$mainThreadWidth: 25.5rem;
$secondThreadWidth: 25.5rem;

:host {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background: rgb(85, 88, 92);

  .app {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;

    @media (min-width: 568px) {
      flex-direction: row;
    }

    .menu {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background: $almost-black;
      flex: 1;
      height: $appMenuWidth;
      max-height: $appMenuWidth;
      width: 100vw;
      max-width: 100vw;
      overflow: auto;
      transition: left .25s, bottom .25s;

      @media (min-width: 568px) {
        flex-direction: column;
        top: 0;
        bottom: initial;
        max-width: $appMenuWidth;
        height: calc(100vh - env(safe-area-inset-top));
        max-height: initial;
        padding: 0 0 1rem 0;
      }

      .top,
      .down {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        @media (min-width: 568px) {
          flex-direction: column;
        }

        > * {
          outline: none;
          width: 22px;
          height: 22px;
          color: $white-30;
          margin: $appMenuItemMargin;
          cursor: pointer;
          user-select: none;

          &.active-link {
            color: #fff !important;
            transition: color .1s, background .1s;

            &.congregation {
              background: #fff !important;
              color: $almost-black !important;
            }
          }

          &.congregation {
            background: $white-30;
            color: $almost-black;
            padding: 0.9rem;
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            margin: 0 $appMenuItemMargin;

            @media (min-width: 568px) {
              margin: $appMenuItemMargin;
            }
          }
        }
      }

      .icon.settings.new-release {
        position: relative;

        &:after {
          content: "";
          position: absolute;
          top: -6px;
          right: -6px;
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background: $dark-sky-blue;
        }
      }
    }

    .main-thread {
      position: absolute;
      z-index: 10;
      top: 0;
      left: 0;
      height: calc(100% - #{$appMenuWidth});
      padding: 0 0 0 0;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      background-color: $almost-black-80;
      box-sizing: border-box;
      width: 100%;
      transition: left .3s;

      @media (min-width: 568px) {
        width: $mainThreadWidth;
        left: $appMenuWidth;
        height: 100%;
      }
    }

    .second-thread {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100% - #{$appMenuWidth});
      padding: 0;
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      background-color: $almost-black-90;
      box-sizing: border-box;
      width: 100%;
      opacity: 1;
      z-index: 100;
      transition: left .3s, opacity .25s;

      &:not(.second-thread-opened) {
        opacity: 0;
        z-index: -1;
        left: -1px; // important for map fit detection
      }

      @media (min-width: 568px) {
        width: $secondThreadWidth;
        left: calc(#{$appMenuWidth});
        height: 100%;
      }

      @media (min-width: 1300px) {
        width: $secondThreadWidth;
        left: calc(#{$appMenuWidth} + #{$mainThreadWidth});
        height: 100%;
      }
    }

    .perspective-3d {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-columns: 0 auto;
      perspective: 1000px;
      width: 100%;
      height: 100%;

      @media (min-width: 568px) {
        &.print {
          grid-template-columns: 30.4375rem auto;
        }
      }

      @media (min-width: 1300px) {
        &.print {
          grid-template-columns: 55.6875rem auto;
        }
      }

      ::ng-deep #map.map {
        flex: 1;
        position: relative;
        outline: none;
        transform-style: preserve-3d;
        transition: transform 0.6s;
        width: 100%;
        height: 100%;

        .mapboxgl-canvas-container {
          position: absolute;
          z-index: 3;
          top: 0;
          left: 0;
          backface-visibility: hidden;
          height: 100%;
          width: 100%;
          border-radius: 4px;
          overflow: hidden;
        }

        * {
          outline: none;
        }

        &.has-bleeding-edges {

          .bleed-edge-shadow {

            @media print {
              display: none;
            }

            position: absolute;
            background: $almost-black;
            opacity: 0.2;
            z-index: 10;

            &.top {
              top: 0;
              left: 0;
              width: 100%;
              height: 3mm;
              border-radius: 4px 4px 0 0;
            }

            &.right {
              top: 3mm;
              right: 0;
              width: 3mm;
              height: calc(100% - 6mm);
              border-radius: 0;
            }

            &.bottom {
              bottom: 0;
              right: 0;
              width: 100%;
              height: 3mm;
              border-radius: 0 0 4px 4px;
            }

            &.left {
              top: 3mm;
              left: 0;
              width: 3mm;
              height: calc(100% - 6mm);
            }
          }

          .for-printing {
            display: none; // PRODUCTION!

            @media print {
              display: inline-block !important;

              .line.horizontal {
                transform: scale(1, 0.1);
              }

              .line.vertical {
                transform: scale(0.1, 1);
              }
            }

            .line {
              position: absolute;
              z-index: 10;

              &.horizontal {
                width: 7mm;
                height: 0;
                border-bottom: 1px solid #000;
              }

              &.vertical {
                width: 0;
                height: 7mm;
                border-right: 1px solid #000;
              }
            }
          }
        }
      }
    }

    .exit-full-map {
      position: fixed;
      bottom: -5rem;
      left: 1.5rem;
      z-index: 10000;
      padding: 0.5rem;
      color: #fff !important;
      background: $almost-black !important;
      border-radius: 50%;
      transition: bottom .7s;
      cursor: pointer;
    }

    .full-map {

      &.menu {
        left: -1px; // important for map fit detection
        bottom: -$appMenuWidth;
        @media (min-width: 568px) {
          left: -$appMenuWidth;
        }
      }

      &.exit-full-map {
        bottom: 1.5rem;
      }

      &.main-thread,
      &.second-thread {
        left: -100vw;
      }
    }
  }
}
