@import "libs/ui-components/src/lib/assets/styles/colors";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    font-family: Heebo-Medium, sans-serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;
  }

  .scrollable-wrapper {
    padding: 0 0 1rem 0;

    h3 {
      padding: 1rem;
      margin: 0;
      font-family: Heebo-Regular, sans-serif;
      box-sizing: border-box;
      font-size: 1rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.25;
      letter-spacing: 0.4px;
      color: #adb1b8;
    }

    .app-panel {
      padding: 0;
      margin: 0 0 2rem 0;
      border-radius: 0;

      ::ng-deep .wrapper {
        padding: 0;

        &.actions {

          .label, .info {
            color: $dark-sky-blue;
          }
        }

        .i-feather {
          width: 20px;
          height: 20px;
        }

       .app-list {
          padding: 0 0 0 1rem;
          transition: transform .15s;

         .app-list-item {

            &.danger {
              .label, .info {
                color: $reddish-orange;
              }

              .ready-to-factory-reset {
                border-radius: 6px;
                transform: scale(1.05);
                background: $reddish-orange;

                .label, .info {
                  color: #fff;
                }
              }
            }

            .label {
              line-height: 1.25;
              letter-spacing: 0.4px;
              color: #ffffff;
            }

            .ui-single-option {
              width: 100%;
              height: 150px;
            }
          }
        }
      }
    }
  }
}
