<app-second-thread-header [specific]="true" (onBack)="back()" (onEdit)="createAssignment()">
  <div class="action edit" (click)="createAssignment()">{{ 'assignments.add' | translate }}</div>
</app-second-thread-header>

<div class="scrollable-wrapper" *ngIf="(assignments$ | async) as assignments">
  <app-panel *ngFor="let assignment of assignments">
    <app-list-item>
      <p class="label h3-white">{{(assignment.publisherId | publisherIdToName | async) || assignment.removedPublisherLabel || 'assignments.unkown' | translate }}</p>
    </app-list-item>
    <app-list-item>
      <p class="label body-white">{{ 'assignments.startTime' | translate }}</p>
      <p class="info">{{assignment.startTime | date:'dd.MM.yyyy'}}</p>
    </app-list-item>
    <app-list-item>
      <p class="label body-white">{{ 'assignments.endTime' | translate }}</p>
      <p class="info">{{assignment.endTime | date:'dd.MM.yyyy'}}</p>
    </app-list-item>
    <app-list-item>
      <p (click)="editAssignment(assignment)" class="label blue">{{ 'assignments.edit' | translate }}</p>
      <div class="info" *ngIf="!assignment.endTime">
        <i-feather (click)="giveBack(assignment)" name="download" class="i-feather blue short-action"></i-feather>
        <i-feather (click)="giveBackAndAssign(assignment)" name="repeat" class="i-feather blue short-action"></i-feather>
      </div>
    </app-list-item>
  </app-panel>
</div>
