<h1 *ngIf="chosenTime$ | async as chosenTime" class="header" [class.dimmed]="isMenuOpened">
  {{ 'month.' + chosenTime.month | translate }}
  {{ chosenTime.year }}
  <div class="more-wrapper">
    <i-feather
      *ngIf="!isMenuOpened"
      (click)="isMenuOpened = true"
      class="more"
      name="more-horizontal"></i-feather>
    <i-feather
      *ngIf="isMenuOpened"
      (click)="isMenuOpened = false"
      class="more"
      name="x"></i-feather>

    <app-list [class.opened]="isMenuOpened">
      <app-list-item (click)="navigateTo('choose-month')"
        ><p class="label">{{ 'service.chooseMonth' | translate }}</p>
      </app-list-item>
      <app-list-item (click)="navigateTo('studies-input')"
        ><p class="label">{{ 'service.inputStudies' | translate }}</p>
      </app-list-item>
      <app-list-item (click)="navigateTo('goals-input')"
        ><p class="label">{{ 'service.durationGoals' | translate }}</p>
      </app-list-item>
      <app-list-item (click)="navigateTo('send-report')"
        ><p class="label">{{ 'service.sendReport' | translate }}</p>
      </app-list-item>
    </app-list>
  </div>
</h1>

<div *ngIf="isMenuOpened" (click)="isMenuOpened = false" class="more-backdrop"></div>

<div class="scrollable-wrapper">
  <app-panel class="overview" *ngIf="mergedDailyReports$ | async as mergedDailyReports">
    <div class="wrapper">
      <div
        *ngIf="durationProgress$ | async as durationProgress"
        class="duration-overview"
        (click)="isYearDurationOverview = !isYearDurationOverview">
        <app-circle-progress
          *ngIf="!isYearDurationOverview"
          [hours]="durationProgress.monthlyHours"
          [minutes]="durationProgress.monthlyMinutes"
          [radius]="54"
          [startColor]="'#54ff6b'"
          [stopColor]="'#15c880'"
          [progress]="durationProgress.monthly"></app-circle-progress>

        <app-circle-progress
          *ngIf="isYearDurationOverview"
          [hours]="durationProgress.yearlyHours"
          [minutes]="durationProgress.yearlyMinutes"
          [radius]="54"
          [startColor]="'#3694e2'"
          [stopColor]="'#68baff'"
          [progress]="durationProgress.yearly"></app-circle-progress>
      </div>
      <div class="monthly-overview">
        <app-panel>
          <div class="wrapper">
            <i-feather class="i-feather" name="book-open"></i-feather>
            {{ mergedDailyReports.deliveries }}
          </div>
        </app-panel>
        <app-panel>
          <div class="wrapper">
            <i-feather class="i-feather" name="play-circle"></i-feather>
            {{ mergedDailyReports.videos }}
          </div>
        </app-panel>
        <app-panel>
          <div class="wrapper">
            <i-feather class="i-feather" name="refresh-cw"></i-feather>
            {{ mergedDailyReports.returnVisits }}
          </div>
        </app-panel>
        <app-panel (click)="navigateTo('studies-input')">
          <div class="wrapper">
            <i-feather class="i-feather" name="user"></i-feather>
            {{ mergedDailyReports.studies }}
          </div>
        </app-panel>
      </div>
    </div>
  </app-panel>

  <app-calendar
    [dataSource]="chosenTime$"
    [sundayLast]="true"
    (onDateChoose)="chooseDay($event)"></app-calendar>

  <div class="service-input-wrapper" [class.not-empty]="chosenCalendarCell$ | async">
    <app-field-service-inputs
      *ngIf="chosenCalendarCell$ | async as chosenCalendarCell; else noChosenDay"
      [chosenDay]="chosenCalendarCell"
      data-cy="inputs-field-service"></app-field-service-inputs>

    <ng-template #noChosenDay>
      <div data-cy="info-box-no-day-chosen">
        <p class="no-day-chosen">{{ 'service.noDayChosen' | translate }}</p>
        <p class="no-day-chosen-desc">{{ 'service.noDayChosenDesc' | translate }}</p>
      </div>
    </ng-template>
  </div>
</div>
