<div class="header">
  <div class="header-item"><i-feather name="clock"></i-feather>{{"service.duration" | translate}}</div>
  <div class="header-item"><i-feather name="book-open"></i-feather>{{"service.deliveries" | translate}}</div>
  <div class="header-item"><i-feather name="play-circle"></i-feather>{{"service.videos" | translate}}</div>
  <div class="header-item"><i-feather name="refresh-cw"></i-feather>{{"service.returnVisits" | translate}}</div>

</div>
<div *ngIf="(currentDailyReport$ | async) as currentDailyReport" class="body">
  <app-panel id="duration-input"><div class="wrapper">
    <i-feather (click)="increaseDuration(currentDailyReport)" name="plus"></i-feather>
    <span (press)="showDurationInput()" class="value">{{padDuration(currentDailyReport.duration)}}</span>
    <i-feather (click)="decreaseDuration(currentDailyReport)" name="minus"></i-feather>
  </div></app-panel>

  <app-panel><div class="wrapper">
    <i-feather (click)="increase('deliveries', currentDailyReport, 1)" name="plus"></i-feather>
    <span class="value">{{currentDailyReport.deliveries}}</span>
    <i-feather (click)="decrease('deliveries', currentDailyReport, 1)" name="minus"></i-feather>
  </div></app-panel>

  <app-panel><div class="wrapper">
    <i-feather (click)="increase('videos', currentDailyReport, 1)" name="plus"></i-feather>
    <span class="value">{{currentDailyReport.videos}}</span>
    <i-feather (click)="decrease('videos', currentDailyReport, 1)" name="minus"></i-feather>
  </div></app-panel>

  <app-panel><div class="wrapper">
    <i-feather (click)="increase('returnVisits', currentDailyReport, 1)" name="plus"></i-feather>
    <span class="value">{{currentDailyReport.returnVisits}}</span>
    <i-feather (click)="decrease('returnVisits', currentDailyReport, 1)" name="minus"></i-feather>
  </div></app-panel>
</div>
