<app-second-thread-header [valid]="visitBan.valid && !visitBan.pristine"
                          (onCancel)="cancel()"
                          (onSave)="createVisitBans()"></app-second-thread-header>

<form [formGroup]="visitBan">
  <app-panel>
    <app-list-item>
      <p class="label">
        <input placeholder="Name" class="input" formControlName="name" name="fullName">
      </p>
    </app-list-item>
  </app-panel>

  <app-panel>
    <app-list-item>
      <p class="label">
        <input placeholder="Adresse*" class="input" [formControl]="geoCodingForm" name="geocoding">
      </p>
    </app-list-item>
    <app-list-item *ngFor="let r of geoCodingResults" (click)="chooseGeoCodingResult(r)">
      <p class="label blue">{{r.place_name}}</p>
      <i-feather class="info blue" name="map-pin"></i-feather>
    </app-list-item>
    <app-list-item *ngIf="geoCodingResults && geoCodingResults.length === 0 && !isManuallyPositioning">
      <p class="label warn">Keine Adresse gefunden</p>
      <i-feather class="info warn" name="alert-circle"></i-feather>
    </app-list-item>
    <app-list-item *ngIf="isManuallyPositioning">
      <p class="label">Markierung im Gebiet setzen</p>
      <i-feather class="info" name="arrow-right"></i-feather>
    </app-list-item>
    <app-list-item (click)="reset()" *ngIf="visitBan.get('territoryId').value && visitBan.get('street').value">
      <p class="label blue">Zurücksetzen</p>
      <i-feather class="info blue" name="refresh-cw"></i-feather>
    </app-list-item>
    <app-list-item (click)="setVisitBanManually()" *ngIf="geoCodingResults && geoCodingResults.length === 0 && !isManuallyPositioning">
      <p class="label blue">Adresse manuell platzieren</p>
      <i-feather class="info blue" name="map-pin"></i-feather>
    </app-list-item>
  </app-panel>

  <app-panel>
    <app-list-item>
      <textarea placeholder="Kommentar" class="input" formControlName="comment" name="comment"></textarea>
    </app-list-item>
  </app-panel>

  <app-panel>
    <app-list-item (click)="editLastVisit=true">
      <p class="label">Letzer Besuch</p>
      <p class="info">{{(visitBan.get('lastVisit').value | date:'dd.MM.yyyy') || '-'}}</p>
    </app-list-item>
    <div class="wrapper" *ngIf="editLastVisit">
      <app-date-picker [vFormControl]="visitBan.get('lastVisit')"></app-date-picker>
    </div>
  </app-panel>

  <app-panel *ngIf="!isCreation" class="delete-visit-ban animate-color-and-transform"
             (click)="deleteVisitBan()">
    <app-list-item>
      <p class="label">Adresse löschen</p>
      <i-feather class="action" name="trash"></i-feather>
    </app-list-item>
  </app-panel>

  <app-panel *ngIf="visitBan.get('street').value && visitBan.get('streetSuffix').value && !visitBan.get('territoryId').value" class="no-territory-hint">
    <app-list-item>
      <p class="label">Diese Adresse referenziert auf kein Gebiet. Du musst sie noch einmal geocodieren..</p>
      <i-feather class="action" name="alert-circle"></i-feather>
    </app-list-item>

    <app-list-item (click)="geoCodeAgainCurrentPlaceName()">
      <p class="label blue">Nochmal versuchen!</p>
      <i-feather class="action blue" name="refresh-cw"></i-feather>
    </app-list-item>
  </app-panel>
</form>
