<div class="wrapper" id="top">
  <div class="head">
    <div class="authority">
      <i-feather name="user" class="icon"></i-feather>
      <div class="title">{{ 'imprint.authority' | translate }}</div>
      <div class="text">
        Mateusz Klimentowicz <br />
        Buchenweg 6c <br />
        86391 Stadtbergen
      </div>
    </div>
    <div class="contact">
      <i-feather name="info" class="icon"></i-feather>
      <div class="title">{{ 'imprint.contact' | translate }}</div>
      <div class="text">
        {{ 'imprint.phone' | translate }}: +49 (0) 157 31 40 33 46 <br />
        {{ 'imprint.mail' | translate }}: mail@klimentowicz.de
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title">{{ 'imprint.title1' | translate }}</div>
    <br />
    <div>{{ 'imprint.text1-1' | translate }}</div>
    <br />
    <div>{{ 'imprint.text1-2' | translate }}</div>
    <br />
    <br />
    <br />
    <div class="title">{{ 'imprint.title2' | translate }}</div>
    <br />
    <div>{{ 'imprint.text2-1' | translate }}</div>
    <br />
    <div>{{ 'imprint.text2-2' | translate }}</div>
    <br />
    <br />
    <br />
    <div class="title">{{ 'imprint.title3' | translate }}</div>
    <br />
    <div>{{ 'imprint.text3-1' | translate }}</div>
    <br />
    <div>{{ 'imprint.text3-2' | translate }}</div>
  </div>
</div>
