<h1 class="h1-white">{{"title" | translate}}</h1>
<h3 class="h3-grey">{{"welcome.origin" | translate}}</h3>

<div *ngIf="currentPage === 0" class="scrollable-wrapper">
  <div class="app-features">
    <div class="app-feature">
      <div class="icon-wrapper">
        <i-feather class="i-feather icon" name="clock"></i-feather>
      </div>
      <h3 class="h3-grey">{{"welcome.feature1" | translate}}</h3>
    </div>
    <div class="app-feature">
      <div class="icon-wrapper">
        <i-feather class="i-feather icon" name="award"></i-feather>
      </div>
      <h3 class="h3-grey">{{"welcome.feature2" | translate}}</h3>
    </div>
    <div class="app-feature">
      <div class="icon-wrapper">
        <i-feather class="i-feather icon" name="mail"></i-feather>
      </div>
      <h3 class="h3-grey">{{"welcome.feature3" | translate}}</h3>
    </div>
    <div class="app-feature" style="position: relative;">
      <div class="icon-wrapper">
        <i-feather class="i-feather icon" name="map"></i-feather>
      </div>
      <!--
      <span class="gold-tag" style="position: absolute;top: -1.2rem;left: 4.5rem;">{{"common.soon" | translate}}</span>
      -->
      <h3 class="h3-grey">{{"welcome.feature4" | translate}}</h3>
    </div>
  </div>

  <button (click)="setUp()" class="button primary">{{"actions.continue" | translate}}</button>
</div>

<div *ngIf="currentPage === 1" class="scrollable-wrapper">
  <form novalidate [formGroup]="formGroup">

    <input [placeholder]="'settings.yourName' | translate" formControlName="userName" name="username"
           autocomplete="off">

    <app-language-search class="app-language-search" (onChoose)="formGroup.patchValue({userLanguage: $event})"
                         (onValueReset)="formGroup.get('userLanguage').reset()"></app-language-search>
  </form>
  <button [disabled]="!formGroup.valid" (click)="setUp()" class="button primary">{{"actions.continue" | translate}}</button>
</div>
