<div *ngIf="!importDone" class="header">
  <p (click)="close()">{{ 'transfer.importExcel.cancel' | translate }}</p>
  <p class="continue" *ngIf="!isLastStep()"
     [class.disabled]="!excelToEntityMapper"
     (click)="nextStep()">{{ 'transfer.importExcel.next' | translate }}</p>
  <p class="continue" *ngIf="isLastStep()" (click)="import()">{{ 'transfer.importExcel.import' | translate }}</p>
</div>

<div *ngIf="!importDone" class="body">
  <mat-vertical-stepper [linear]="true" class="stepper" #stepper>
    <!-- SHEET SELECT -->
    <mat-step>
      <ng-template matStepLabel>
        {{"transfer.importExcel.visitBanCols.sheetName" | translate}}
        <span class="chosen-value-step">{{excelToEntityMapper?.sheetName}}</span>
      </ng-template>
      <div>
        <p class="step-description" [innerHtml]="'transfer.importExcel.chooseSheets' | translate"></p>
        <app-panel>
          <div class="wrapper">
            <h2 class="h2-white">{{ 'transfer.importExcel.foundSheets' | translate }}</h2>
            <app-list>
              <app-list-item *ngFor="let sheetName of workbook?.SheetNames" (click)="setSheet(sheetName)">
                <p class="label">{{sheetName}}</p>
                <i-feather *ngIf="excelToEntityMapper?.sheetName === sheetName" name="check" class="action"></i-feather>
              </app-list-item>
            </app-list>
          </div>
        </app-panel>
      </div>
    </mat-step>

    <!-- COLUMN SELECT -->
    <mat-step *ngFor="let step of steps;let i = index">
        <ng-template matStepLabel>
          {{"transfer.importExcel.visitBanCols." + steps[i] | translate}}
          <span class="chosen-value-step">{{excelToEntityMapper?.getColumnOf(step)?.value || ("common.skip" | translate)}}</span>
        </ng-template>
        <div>
          <p class="step-description" [innerHtml]="'transfer.importExcel.' + titles[i] | translate"></p>

          <app-panel *ngIf="excelToEntityMapper">
            <div class="wrapper">
              <h2 class="h2-white">{{ 'transfer.importExcel.foundColumns' | translate }}</h2>
              <app-list>
                <app-list-item (click)="excelToEntityMapper.setValueOf(step, null)">
                  <p class="danger label">{{"common.skip" | translate}}</p>
                  <i-feather *ngIf="!excelToEntityMapper.hasValue(step)" name="check" class="action"></i-feather>
                </app-list-item>
                <app-list-item *ngFor="let column of foundColumns" [class.disabled]="shouldHide(step, column)" (click)="setChosenProp(step, column)">
                  <p class="label">{{column.label}}</p>
                  <i-feather *ngIf="excelToEntityMapper.getColumnValueOf(step) === column.value" name="check" class="action"></i-feather>
                </app-list-item>
              </app-list>
            </div>
          </app-panel>

        </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>
        {{"transfer.importExcel.import"| translate}}
      </ng-template>
      <div>
        <p class="choose-property body-grey">
          <strong class="danger">{{ 'transfer.importExcel.override' | translate }}</strong>
          <br />
          <br />
          <ui-switch class="ui-switch" ngDefaultControl name="overrideExistingData" [(ngModel)]="overrideExistingData"></ui-switch>
        </p>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>

<div *ngIf="importDone" class="body import-done">
  <img alt="image" src="assets/images/import-done.svg">
  <h3 class="h3-white">{{ 'transfer.importExcel.success' | translate }}</h3>
  <p class="body-grey">{{ 'transfer.importExcel.successMessage' | translate }}</p>
  <button (click)="close()" class="button primary">OK</button>

  <app-panel *ngIf="visitBansWithoutTerritory">
    <div class="wrapper">
      <p class="body-grey not-imported">{{ 'transfer.importExcel.failures' | translate }}</p>
      <app-list>
        <app-list-item *ngFor="let vb of visitBansWithoutTerritory; let i = index">
          <p class="label">{{i+1}}. {{vb.street}} {{vb.streetSuffix}}</p>
          <p class="info" >{{vb.name}}</p>
        </app-list-item>
      </app-list>
    </div>
  </app-panel>
</div>
