@import 'libs/ui-components/src/lib/assets/styles/colors';

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;

  .header {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    > * {
      cursor: pointer;

      &.continue {
        color: $dark-sky-blue;
        user-select: none;
      }
    }
  }

  .body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem;
    box-sizing: border-box;
    max-height: 32rem;
    overflow: auto;

    .choose-property {
      margin: 0 0 1.5rem 0;
    }

    .stepper {
      background: transparent;

      ::ng-deep .mat-step-icon {
        background: rgba(255, 255, 255, 0.3);
        height: 1rem;
        width: 1rem;
        margin: 0 12px 0 5px;

        &.mat-step-icon-state-edit,
        &.mat-step-icon-selected {
          background: #fff;
        }

        .mat-step-icon-content {
          > * {
            display: none;
          }
        }
      }

      ::ng-deep .mat-stepper-vertical-line {
        &::before {
          border-left-color: rgba(255, 255, 255, 0.3);
          // top: -28px;
          // bottom: -28px;
        }
      }

      ::ng-deep .mat-step-label {
        color: #a0a4ac;

        &.mat-step-label-active {
          color: #fff;

          .chosen-value-step {
            display: inline-block;
          }
        }

        .chosen-value-step {
          display: none;
          color: $seaweed;
          margin: 0 0 0 1rem;
          font-size: 12px;
        }
      }

      .step-description {
        color: #adb1b8;
      }
    }

    &.import-done {
      justify-content: center;
      align-items: center;
      height: 32rem;

      img {
        margin: 2rem 0 0 0;
      }

      .h3-white {
        margin: 2rem 0 0.5rem 0;
      }

      .button {
        margin: 2rem 0;
      }

      .not-imported {
        color: $reddish-orange;
        text-align: left;
      }
    }

    .ui-switch {
      text-align: center;
      margin: 1.5rem 0 0 0;

      ::ng-deep .switch.checked {
        background: $seaweed;
      }
    }

    .body-grey {
      text-align: center;

      b {
        color: $seaweed;
      }
    }

    .scrollable-wrapper {
      app-panel.app-panel {
        margin: 0;
      }
    }

    .app-panel {
      margin: 1.5rem 0 0 0;

      .wrapper {
        padding: 1rem 0 0 0;

        .h2-white {
          margin: 0;
        }

        .app-list {
          padding: 0 0 0 0.25rem;
          max-height: 15rem;
          overflow: auto;

          .app-list-item {
            &.disabled {
              display: none;
            }

            ::ng-deep .info.green {
              color: $seaweed;
            }

            ::ng-deep &:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
