<div style="text-align: center;">
  <p class="gold-tag">{{"common.soon" | translate}}</p>
</div>
<h1 style="margin: 0" class="h1-white">{{"territories.yourTerritories" | translate}}</h1>

<div class="scrollable-wrapper">
  <div class="app-features">
    <div class="app-feature">
      <div class="icon-wrapper">
        <i-feather class="icon" name="layers"></i-feather>
      </div>
      <p>{{"territories.feature1" | translate}}</p>
    </div>
    <div class="app-feature">
      <div class="icon-wrapper">
        <i-feather class="icon" name="map"></i-feather>
      </div>
      <p>{{"territories.feature2" | translate}}</p>
    </div>
    <div class="app-feature">
      <div class="icon-wrapper">
        <i-feather class="icon" name="map-pin"></i-feather>
      </div>
      <p>{{"territories.feature3" | translate}}</p>
    </div>
  </div>

  <button *ngIf="false" routerLink="/territories-feature" class="button primary">{{"common.preview" | translate}}</button>
</div>
