@import "libs/ui-components/src/lib/assets/styles/colors";

:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 0 0 0;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 11;
    font-family: Heebo-Medium, sans-serif;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff;

    .back {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.125rem;
      font-weight: 500;
      line-height: 1.25;
      letter-spacing: 0.4px;
      text-align: left;
      color: #3694e2;
      padding: 0.25rem 0 0.75rem 0;
      position: relative;
      left: -0.5rem;

      > .i-feather {
        position: relative;
        top: -2px;
        font-size: 2rem;
        width: 2rem;
        height: 2rem;
      }
    }
  }

 .app-list {
    padding: 0 0 1rem 0;

   .app-list-item {
      padding: 0;

      ::ng-deep .label {
        color: #fff;
      }
    }
  }

  ::ng-deep .app-panel {
    margin: 0.5rem 0;
  }

  .danger {
    color: #ff5f1b !important;
  }
}
