@import "node_modules/territory-offline-ui/assets/styles/colors";

:host {

  ::ng-deep app-list-item .label {
    color: #ffffff;
  }

  app-panel .wrapper.boundary-names{
    padding-left: 0;
    padding-bottom: 0;
  }

  .delete-territory {
    cursor: pointer;
    background: $reddish-orange-20;

    app-list-item,
    app-list-item .label {

      color: $reddish-orange;
    }
  }

  .short-action {
    margin: 0 0 0 1rem;
  }

  .dont-forget-to-draw-territory {
    background: $yellowish-orange-20;

    app-list-item,
    app-list-item .label {

      color: $yellowish-orange;
    }
  }
}
