<h1 class="h1-white">{{ 'modal.import.titel' | translate }} <span (click)="done()" class="skip">{{ 'action.skip' | translate }} &#10518;</span></h1>

<div class="changes-body">
  <ng-container *ngIf="data.potentiallyDeleted">
    <p class="body-warning">{{ 'modal.import.potentiallyDeletedLine1' | translate }} <br/> {{ 'modal.import.potentiallyDeletedLine2' | translate }}</p>

    <ng-container *ngIf="data.potentiallyDeleted.territories && data.potentiallyDeleted.territories.length">
      <h3>{{ 'modal.import.territories' | translate }}</h3>
      <p [class.deleted-item]="deletedItems[territory.id]"
         [class.keep-item]="keepItems[territory.id]"
         class="body-grey potentially-deleted-item" *ngFor="let territory of data.potentiallyDeleted.territories">
        {{territory.key}} {{territory.name}}
        <span class="potentially-deleted-action-wrapper">
        <span (click)="deleteItem(territory, entityTypes.territory)" class="potentially-deleted-action body-error">{{ 'action.delete' | translate }}</span>
        <span (click)="keepItem(territory)" class="potentially-deleted-action body-grey">{{ 'action.keep' | translate }}</span>
      </span>
      </p>
    </ng-container>

    <ng-container *ngIf="data.potentiallyDeleted.publisher && data.potentiallyDeleted.publisher.length">
      <h3>{{ 'modal.import.publishers' | translate }}</h3>
      <p [class.deleted-item]="deletedItems[publisher.id]"
         [class.keep-item]="keepItems[publisher.id]"
         class="body-grey potentially-deleted-item"
         *ngFor="let publisher of data.potentiallyDeleted.publisher">{{publisher.firstName}} {{publisher.name}}</p>
    </ng-container>

    <ng-container *ngIf="data.potentiallyDeleted.visitBans && data.potentiallyDeleted.visitBans.length">
      <h3>{{ 'modal.import.visitBans' | translate }}</h3>
      <p [class.deleted-item]="deletedItems[visitBan.id]"
         [class.keep-item]="keepItems[visitBan.id]"
         class="body-grey potentially-deleted-item"
         *ngFor="let visitBan of data.potentiallyDeleted.visitBans">{{visitBan.street}} {{visitBan.streetSuffix}}</p>
    </ng-container>

    <ng-container *ngIf="data.potentiallyDeleted.tags && data.potentiallyDeleted.tags.length">
      <h3>{{ 'modal.import.tags' | translate }}</h3>
      <p [class.deleted-item]="deletedItems[tag.id]"
         [class.keep-item]="keepItems[tag.id]"
         class="body-grey potentially-deleted-item" *ngFor="let tag of data.potentiallyDeleted.tags">{{tag.name}}</p>
    </ng-container>

    <ng-container *ngIf="data.potentiallyDeleted.assignments && data.potentiallyDeleted.assignments.length">
      <h3>{{ 'modal.import.assignments' | translate }}</h3>
      <p [class.deleted-item]="deletedItems[assignment.id]"
         [class.keep-item]="keepItems[assignment.id]"
         class="body-grey potentially-deleted-item" *ngFor="let assignment of data.potentiallyDeleted.assignments">
      <span style="display: flex; flex-direction: column;">
        <span class="body-grey"><strong>{{(assignment.publisherId | publisherIdToName) | async}}</strong></span>
        <span class="body-grey">{{ 'modal.import.startTime' | translate }}: <strong>{{assignment.startTime | date:'short'}}</strong></span>
        <span class="body-grey">{{ 'modal.import.endTime' | translate }}: <strong>{{assignment.endTime ? (assignment.endTime | date:'short') : '-'}}</strong></span>
        <span class="body-grey">{{ 'modal.import.territory' | translate }}: <strong>{{(assignment.territoryId | territoryIdToName) | async}}</strong></span>
      </span>
        <span class="potentially-deleted-action-wrapper">
        <span (click)="deleteItem(assignment, entityTypes.assignment)" class="potentially-deleted-action body-error">{{ 'action.delete' | translate }}</span>
        <span (click)="keepItem(assignment)" class="potentially-deleted-action body-grey">{{ 'action.keep' | translate }}</span>
      </span>
      </p>
    </ng-container>
  </ng-container>

  <br/>
  <p class="body-primary">{{ 'modal.import.added' | translate }}</p>

  <p *ngIf="!data.toBeImported?.territories?.length
  && !data.toBeImported?.publisher?.length
  && !data.toBeImported?.tags?.length
  && !data.toBeImported?.visitBans?.length
  && !data.toBeImported?.assignments?.length" class="body-grey">{{ 'modal.import.noneAdded' | translate }}</p>

  <ng-container *ngIf="data.toBeImported?.territories?.length">
    <h3><span class="count">{{data.toBeImported?.territories?.length}}</span> {{ 'modal.import.territories' | translate }}</h3>
    <p class="body-grey imported-entry" *ngFor="let territory of (showAllImportedTerritories ? data.toBeImported.territories : data.toBeImported.territories | slice:0:4)">
      {{territory.key}} {{territory.name}}
    </p>
    <i-feather *ngIf="data.toBeImported.territories.length > 4 && !showAllImportedTerritories"
               (click)="showAllImportedTerritories=true" name="chevrons-down" class="blue"></i-feather>
    <i-feather *ngIf="data.toBeImported.territories.length > 4 && showAllImportedTerritories"
               (click)="showAllImportedTerritories=false" name="chevrons-up" class="blue"></i-feather>
  </ng-container>

  <ng-container *ngIf="data.toBeImported?.publisher?.length">
    <h3><span class="count">{{data.toBeImported.publisher.length}}</span> {{ 'modal.import.publishers' | translate }}</h3>
    <p class="body-grey imported-entry" *ngFor="let publisher of (showAllImportedPublisher ? data.toBeImported.publisher : data.toBeImported.publisher |slice:0:4)">
      {{publisher.firstName}} {{publisher.name}}
    </p>
    <i-feather *ngIf="data.toBeImported.publisher.length > 4 && !showAllImportedPublisher"
               (click)="showAllImportedPublisher=true" name="chevrons-down" class="blue"></i-feather>
    <i-feather *ngIf="data.toBeImported.publisher.length > 4 && showAllImportedPublisher"
               (click)="showAllImportedPublisher=false" name="chevrons-up" class="blue"></i-feather>
  </ng-container>

  <ng-container *ngIf="data.toBeImported?.visitBans?.length">
    <h3><span class="count">{{data.toBeImported.visitBans.length}}</span> {{ 'modal.import.visitBans' | translate }}</h3>
    <p class="body-grey imported-entry" *ngFor="let visitBan of (showAllImportedVisitBans ? data.toBeImported.visitBans : data.toBeImported.visitBans | slice:0:4)">
      {{visitBan.street}} {{visitBan.streetSuffix}}
    </p>
    <i-feather *ngIf="data.toBeImported.visitBans.length > 4 && !showAllImportedVisitBans"
               (click)="showAllImportedVisitBans=true" name="chevrons-down" class="blue"></i-feather>
    <i-feather *ngIf="data.toBeImported.visitBans.length > 4 && showAllImportedVisitBans"
               (click)="showAllImportedVisitBans=false" name="chevrons-up" class="blue"></i-feather>
  </ng-container>

  <ng-container *ngIf="data.toBeImported?.tags?.length">
    <h3><span class="count">{{data.toBeImported.tags.length}}</span> {{ 'modal.import.tags' | translate }}</h3>
    <p class="body-grey imported-entry" *ngFor="let tag of (showAllImportedTags ? data.toBeImported.tags : data.toBeImported.tags | slice:0:4)">
      {{tag.name}}
    </p>
    <i-feather *ngIf="data.toBeImported.tags.length > 4 && !showAllImportedTags"
               (click)="showAllImportedTags=true" name="chevrons-down" class="blue"></i-feather>
    <i-feather *ngIf="data.toBeImported.tags.length > 4 && showAllImportedTags"
               (click)="showAllImportedTags=false" name="chevrons-up" class="blue"></i-feather>
  </ng-container>

  <ng-container *ngIf="data.toBeImported?.assignments?.length">
    <h3><span class="count">{{data.toBeImported.assignments.length}}</span> {{ 'modal.import.assignments' | translate }}</h3>
    <p class="body-grey imported-entry" *ngFor="let assignment of (showAllImportedAssignments ? data.toBeImported.assignments : data.toBeImported.assignments | slice:0:4)">
      <span style="display: flex; flex-direction: column;">
        <span class="body-grey"><strong>{{(assignment.publisherId | publisherIdToName) | async}}</strong></span>
        <span class="body-grey">{{ 'modal.import.startTime' | translate }}: <strong>{{assignment.startTime | date:'short'}}</strong></span>
        <span class="body-grey">{{ 'modal.import.endTime' | translate }}: <strong>{{assignment.endTime ? (assignment.endTime | date:'short') : '-'}}</strong></span>
        <span class="body-grey">{{ 'modal.import.territory' | translate }}: <strong>{{(assignment.territoryId | territoryIdToName) | async}}</strong></span>
      </span>
    </p>
    <i-feather *ngIf="data.toBeImported.assignments.length > 4 && !showAllImportedAssignments"
               (click)="showAllImportedAssignments=true" name="chevrons-down" class="blue"></i-feather>
    <i-feather *ngIf="data.toBeImported.assignments.length > 4 && showAllImportedAssignments"
               (click)="showAllImportedAssignments=false" name="chevrons-up" class="blue"></i-feather>
  </ng-container>
</div>

<div class="footer">
  <button class="button primary" (click)="done()">{{ 'modal.import.ready' | translate }}</button>
</div>
