<h1 class="header">
  {{"settings.changeDurationStep" | translate}}
  <span (click)="done()" class="done">{{"common.done" | translate}}</span>
</h1>

<div class="scrollable-wrapper" [class.without-main-navigation]="hideMainNavigation">

  <p class="description">{{"service.durationDesc" | translate}}</p>

  <div class="input-wrapper" *ngIf="(currentDurationStep$ | async) as currentDurationStep">

    <app-panel>
      <app-list-item>
        <p class="label">{{"settings.durationStep" | translate}}</p>
        <p class="info">{{currentDurationStep}}</p>
      </app-list-item>
      <app-list-item *ngIf="duration">
        <ui-single-option type="normal" [vFormControl]="duration" [optionSource]="durationOptions"></ui-single-option>
      </app-list-item>
    </app-panel>
  </div>

  <div class="tip-wrapper">
    <p class="title">{{"common.info" | translate}}</p>
    <p class="info">{{"service.durationInfo" | translate}}</p>
  </div>
</div>
