:host {
  position: fixed;
  top: calc(1rem + env(safe-area-inset-top));
  right: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  .wrapper {
    width: 3rem;
    height: 3rem;
    padding: 0.75rem;
    box-sizing: border-box;

    &:not(:nth-child(1)) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    &.active {
      .i-feather {
        color: #ff5f1b;

        &:before {
          background: rgba(255, 95, 27, 0.2);
        }
      }
    }

    .i-feather {
      position: relative;
      color: #000;
      transition: background 0.2s;

      &:before {
        content: '';
        position: absolute;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        transition: background 0.2s;
      }
    }
  }
}
