<div class="features">
  <app-home-feature-item
    feature="home.main.feature1"
    (activate)="active = 1"
    (deactivate)="active = null"
    [active]="active === 1">
    <div class="image encrypted"></div>
  </app-home-feature-item>

  <app-home-feature-item
    feature="home.main.feature2"
    (activate)="active = 2"
    (deactivate)="active = null"
    [active]="active === 2">
    <div class="image secured"></div>
  </app-home-feature-item>

  <!--<app-home-feature-item feature="home.main.feature3" (activate)="active = 3" (deactivate)="active = null" [active]="active === 3">
    <div class="image multi-language"></div>
  </app-home-feature-item>-->

  <app-home-feature-item
    feature="home.main.feature4"
    (activate)="active = 4"
    (deactivate)="active = null"
    [active]="active === 4">
    <div class="image import"></div>
  </app-home-feature-item>

  <app-home-feature-item
    feature="home.main.feature5"
    (activate)="active = 5"
    (deactivate)="active = null"
    [active]="active === 5">
    <div class="image heart"></div>
  </app-home-feature-item>

  <app-home-feature-item
    feature="home.main.feature6"
    (activate)="active = 6"
    (deactivate)="active = null"
    [active]="active === 6">
    <div class="image operating-system"></div>
  </app-home-feature-item>
</div>
