<div *ngIf="currentStep === 0" class="step">
  <div class="to-icon"></div>
  <h1 class="h1-white">Willkommen <br/>bei Territory Offline!</h1>
  <p class="password-text">
    Bitte gib den Namen deines <br/>
    Versammlungsgebiets an und lege ein Passwort fest, <br/>
    dass du dir gut merken kannst.
  </p>

  <form class="password-wrapper" [formGroup]="initialConfigFormGroup">
    <input autofocus type="text" placeholder="Versammlung" autocomplete="off" formControlName="congregation" required/>
    <app-language-search class="app-language-search" (onChoose)="setLanguage($event)" (onValueReset)="setLanguage(null)"></app-language-search>
    <ng-container *ngIf="isPasswordNeeded">
      <input id="new-password-text-field" type="password" placeholder="Passwort" autocomplete="off" formControlName="lockPassword" required/>
      <input id="confirm-password-text-field" type="password" placeholder="Passwort wiederholen" autocomplete="off" formControlName="lockPasswordRepetition" required/>
    </ng-container>
    <span *ngIf="initialConfigFormGroup.hasError('notSame')" class="error">Die Passwörter müssen gleich sein.</span>
  </form>

  <button class="main-button"
          (click)="currentStep=currentStep+1"
          [disabled]="!initialConfigFormGroup.valid">Weiter</button>
</div>
<div *ngIf="currentStep === 1" class="step">
  <div class="to-icon"></div>

  <h1 class="h1-white">Wo liegt dein Gebiet?</h1>
  <p class="password-text">Bitte bewege die Karte in die Mitte deines Gebiets.</p>

  <app-choose-origin [initialConfiguration]="true" (onChoose)="createInitialConfiguration($event)"></app-choose-origin>
</div>
