<app-second-thread-header [specific]="true" (onBack)="back()">
  <div class="action edit" (click)="createVisitBan()">+ Neue Adresse</div>
</app-second-thread-header>

<div class="scrollable-wrapper" *ngIf="(visitBans$ | async) as visitBans">
  <app-panel *ngFor="let visitBan of visitBans">
    <app-list-item>
      <p class="label h3-white">{{visitBan.name}}</p>
    </app-list-item>
    <app-list-item>
      <p class="label body-white">Straße</p>
      <p class="info">{{visitBan.street}} {{visitBan.streetSuffix}}</p>
    </app-list-item>
    <app-list-item>
      <p class="label body-white">Letzer Besuch</p>
      <p class="info">{{visitBan.lastVisit ? (visitBan.lastVisit | date:'dd.MM.yyyy') : '-'}}</p>
    </app-list-item>
    <app-list-item>
      <p (click)="editVisitBan(visitBan)" class="label blue">Adresse bearbeiten</p>
    </app-list-item>
  </app-panel>
</div>
