<app-main-search (onSearch)="search= {value: $event}">
  <div class="action-link" (click)="createVisitBan()">
    <i-feather class="i-feather" name="plus"></i-feather>
    {{ 'visitBan.title' | translate }}
  </div>
</app-main-search>

<app-panel class="sort-wrapper">
  <div class="wrapper">
    <h2 class="h2-white">{{ 'visitBan.sort' | translate }}</h2>
    <app-list-item (click)="changeSorting('alphabetic')">
      <p class="label">{{ 'visitBan.sortAlphabetical' | translate }}</p>
      <i-feather *ngIf="sort === 'alphabetic'" class="i-feather icon checked" name="check-circle"></i-feather>
    </app-list-item>
    <app-list-item (click)="changeSorting('lastVisit')">
      <p class="label">{{ 'visitBan.lastVisit' | translate }}</p>
      <i-feather *ngIf="sort === 'lastVisit'" class="i-feather icon checked" name="check-circle"></i-feather>
    </app-list-item>
  </div>
</app-panel>

<div class="scrollable-wrapper">

  <app-list *ngIf="(visitBans$ | async) as visitBans; else infoBlock">
    <app-list-item *ngFor="let visitBan of visitBans | searchVisitBan:search | async"
                   [class.current]="currentVisitBanId === visitBan.id"
                   (click)="editVisitBan(visitBan)">
      <p class="label">
        {{(visitBan.street | slice:0:20) + (visitBan.street.length > 20 ? "..." : "")}}
        {{visitBan.streetSuffix}}
        <strong>{{!!visitBan.name ? " - " + visitBan.name : ""}}</strong>
      </p>
      <p *ngIf="visitBan.lastVisit" class="info">{{visitBan | visitBanLastVisit}}</p>
    </app-list-item>
  </app-list>

  <ng-template #infoBlock>
    <app-info-block [title]="'visitBan.noAdressesHint' | translate"
                    [image]="'assets/images/territories.svg'"
                    [description]="'visitBan.noAdressesHintDescription' | translate"></app-info-block>
  </ng-template>
</div>
