<div class="hamburger" (click)="openMenu()"></div>
<div class="desktop-nav">
  <div class="nav-item" [class.active]="active === 'home'" (click)="navigate('/home', 'top')">
    {{ 'navigation.home2' | translate }}
  </div>
  <div
    class="nav-item"
    [class.active]="active === 'features'"
    (click)="navigate('/features', 'top')">
    {{ 'navigation.features' | translate }}
  </div>
  <div class="nav-item button" (click)="navigate('/home', 'get-started')">
    {{ 'navigation.release' | translate }}
  </div>
</div>
<app-navigation *ngIf="open" (close)="closeMenu()"></app-navigation>
