@import "node_modules/territory-offline-ui/assets/styles/colors";

:host {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  margin: 0;

  #origin-map {
    width: 100%;
    height: 100%;
  }

  .crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .button {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 56px;
    border-radius: 6px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: $almost-black-80;
    cursor: pointer;
    font-family: Heebo-Regular, sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: #fff;
  }
}
