@import "libs/ui-components/src/lib/assets/styles/colors";

:host {

  .app-panel .wrapper {
    padding: 0 1rem 0 0;
  }

  .delete-assignment {
    cursor: pointer;
    background: $reddish-orange-20;

    .app-list-item,
    .app-list-item .label {

      color: $reddish-orange;
    }
  }

  .send-to-publisher {
    color: $seaweed;
  }

  .send-not-to-publisher {
    color: $reddish-orange;
  }
}
