<app-second-thread-header [valid]="assignment.valid && !assignment.pristine"
                          (onCancel)="back()"
                          (onSave)="createAssignment()"></app-second-thread-header>

<form [formGroup]="assignment">

  <app-add-publisher [vFormControl]="assignment.get('publisherId')"></app-add-publisher>

  <app-panel class="start-time">
    <app-list-item  (click)="editStartTime=true">
      <p class="label">Ausgabedatum</p>
      <p class="info">{{assignment.get('startTime').value | date:'dd.MM.yyyy'}}</p>
    </app-list-item>
    <div class="wrapper" *ngIf="editStartTime">
      <app-date-picker [vFormControl]="assignment.get('startTime')"></app-date-picker>
    </div>
  </app-panel>

  <app-panel class="end-time">
    <app-list-item  (click)="editEndTime=true">
      <p class="label">Rückgabedatum</p>
      <p class="info">{{(assignment.get('endTime').value | date:'dd.MM.yyyy') || '-'}}</p>
    </app-list-item>
    <div class="wrapper" *ngIf="editEndTime">
      <app-date-picker [vFormControl]="assignment.get('endTime')"></app-date-picker>
    </div>
  </app-panel>


  <app-panel *ngIf="isCreation">
    <app-list-item (click)="sendToPublisher=!sendToPublisher">
      <p class="label">Gebietskarte an Verkündiger senden</p>
      <p class="info">
        <i-feather class="send-to-publisher" *ngIf="sendToPublisher" name="check"></i-feather>
        <i-feather class="send-not-to-publisher" *ngIf="!sendToPublisher" name="x"></i-feather>
      </p>
    </app-list-item>
  </app-panel>

  <app-panel *ngIf="!isCreation" class="delete-assignment animate-color-and-transform"
             (click)="deleteAssignment()"
             [class.ready-to-delete-button]="readyToDelete">
    <app-list-item>
      <p class="label">Zuteilung löschen</p>
      <i-feather class="action" name="trash"></i-feather>
    </app-list-item>
  </app-panel>
</form>
