@import 'libs/ui-components/src/lib/assets/styles/colors';

:host {
  .app-panel {
    padding: 0 0 0 0.5rem;

    ::ng-deep .wrapper {
      padding: 1rem 1rem 0 1rem;

      .app-list {
        padding: 0.5rem 0 0 0;

        .info {
          width: 20px;
          height: 20px;
          color: #fff;
        }
      }
    }
  }

  .hint-wrapper {
    padding: 1rem 1.5rem;

    .hint-text {
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.4px;
      color: $light-grey-blue;
    }
  }
}
