<app-main-search (onSearch)="searchValue=$event">
  <div *ngIf="!isEditingMode" (click)="isEditingMode=true" class="action-link">Bearbeiten</div>
  <div *ngIf="isEditingMode" (click)="isEditingMode=false" class="action-link">Fertig</div>
</app-main-search>

<div class="scrollable-wrapper">
  <ng-container *ngIf="(tags$ | async) as tags">
    <app-list>
      <app-add-tag class="tag-input" *ngIf="isEditingMode" [alreadyAddedTags]="tags"></app-add-tag>

      <app-list-item *ngFor="let tag of tags | searchTag:searchValue">
        <p class="label">
          <input class="color-picker" *ngIf="isEditingMode" (colorPickerClose)="changeColor(tag)" [(colorPicker)]="tag.color" [style.background]="tag.color"/>

          {{tag.name}}
          <span *ngIf="isNewlyAdded(tag)" class="newly-added">NEW</span>
        </p>
        <i-feather *ngIf="isEditingMode"
                   (click)="deleteTag(tag)"
                   class="i-feather action"
                   name="trash"></i-feather>
      </app-list-item>
    </app-list>

    <ng-container *ngIf="tags.length === 0 && !isEditingMode">
      <app-info-block [title]="'Du hast noch keine Tags!'"
                      [image]="'assets/images/tags.svg'"
                      [description]="'Erstelle neue Tags, um Gebiete, Verkündiger oder Nicht-besuchen Adressen zu gruppieren.'"></app-info-block>
    </ng-container>
  </ng-container>
</div>
