<ng-container *ngIf="(territoryCard$ | async) as territoryCard">
  <h1 class="header">
    <span *ngIf="visitBanId">{{"territories.editVisitBan" | translate}}</span>
    <span *ngIf="!visitBanId">{{"territories.newVisitBan" | translate}}</span>
    <span (click)="done()" class="done">{{"common.cancel" | translate}}</span>
  </h1>

  <form *ngIf="formGroup" novalidate [formGroup]="formGroup">
    <app-list>
      <app-list-item>
        <input formControlName="address" [placeholder]="('territories.visitBanAddress' | translate) + '*'" class="input">
      </app-list-item>
      <app-list-item>
        <input formControlName="name" [placeholder]="'territories.visitBanName' | translate" class="input">
      </app-list-item>
      <app-list-item>
        <button (click)="save(territoryCard)" [disabled]="!formGroup.valid" *ngIf="visitBanId" class="button primary">{{"common.save" | translate}}</button>
        <button (click)="save(territoryCard)" [disabled]="!formGroup.valid" *ngIf="!visitBanId" class="button primary">{{"common.add" | translate}}</button>
      </app-list-item>
    </app-list>
  </form>
</ng-container>
