@import "node_modules/territory-offline-ui/assets/styles/colors";

:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 16px 0 rgba(32, 35, 39, 0.2);
  background-color: $very-light-blue-15;
  height: 3rem;
  padding: 1rem;
  box-sizing: border-box;

  ::ng-deep .cancel, ::ng-deep .back {
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: #ffffff;
    cursor: pointer;
  }

  .back {
    opacity: 0.5;
  }

  ::ng-deep .save, ::ng-deep .edit {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.4px;
    color: $dark-sky-blue;
    cursor: pointer;

    &.not-valid {
      opacity: 0.4;
    }
  }
}
