<ng-container *ngIf="!readonly && !specific">
  <div class="cancel" (click)="cancel()" data-cy="button-cancel">{{ 'action.cancel' | translate }}</div>
  <div class="save" (click)="save()" [class.not-valid]="!valid" data-cy="button-save"> {{positiveActionName || 'action.save' | translate }}</div>
</ng-container>

<ng-container *ngIf="readonly && !specific">
  <div class="back" (click)="back()">{{ 'action.back' | translate }}</div>
  <div class="edit" (click)="edit()">{{ 'action.edit' | translate }}</div>
</ng-container>

<ng-container *ngIf="specific">
  <div class="back" (click)="back()">{{ 'action.back' | translate }}</div>
  <ng-content select=".action"></ng-content>
</ng-container>
